*{
    margin:0px;
    padding:0px;
}
body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.topic{
    background-color: rgb(222, 243, 33);
    border-radius: 20px;
    margin:30px;
    padding:20px;
    height:80px;
}
.topic h1{
    padding-top: 20px;
}
#del{
    border-style:none;
}
.container{
    margin:30px;
    padding:20px;
    justify-content: space-around;
    display:inline-block;
    min-width:50%;

}
.music-list{
    background-color: black;
    padding:15px;
    margin:20px;
    color:white;
    border-radius: 20px;
    width:25%;
    display:inline-block;
}
.music-list h3{
    color:rgb(222, 243, 33);
} 
#del{
    border-radius: 5px;
    background-color:rgb(222, 243, 33);
    padding:3px;
    margin:10px;
}
#add{
    background-color: rgb(222, 243, 33);
    color:black;
    border-radius: 100%;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: none;
    font-size:40px;
    position:fixed;
    bottom: 30px;
    left:90%;
    z-index: 0;
}
.overlay{
    background-color: black;
    height:100%;
    width:100%;
    position: absolute;
    top:0px;
    z-index: 1;
    opacity:0.8;
    display:none;
}
.popup{
    background-color: rgb(222, 243, 33);
    height:250px;
    width:40%;
    border-radius: 20px;
    padding:25px;
    position:absolute;
    top:20%;
    left:30%;
    z-index: 2;
    display:none;
}
.input{
    width:100%;
    background: transparent;
    border-style: none;
    margin:5px;
    padding: 5px;
    border-bottom: solid black 2px;
    font-size: 20px;
}
.popup button{
    margin:20px;
    background-color: black;
    border-style: none;
    color:white;
    height:50px;
    width:100px;
    border-radius: 25px;

}
.popup textarea{
    width:100%;
    background: transparent;
    margin:5px;
    padding: 5px;
    border: solid black 2px;
    font-size: 20px;
}