*{
    margin:0px;
    padding:0px;

}
h1{
    text-align: center;
    padding:5px;
}
body{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: darkcyan;
  color:aliceblue

}
.container{
    display:flex;
    flex-wrap:wrap;
    margin:10px;
    justify-content:space-between;
    background-color:rgb(8, 88, 88);
    border-radius:20px;
    width:95%;
}
.element{
    flex-basis: 20%;
    margin:5px;
    flex-grow:1;
    padding:10px;
}